# Symfony 3 - cache, session files, temporary files and logs
/var/bootstrap.php.cache
/var/SymfonyRequirements.php
/var/cache/*
!/var/cache/.gitkeep
/var/logs/*
!/var/logs/.gitkeep
/var/sessions/*
!/var/sessions/.gitkeep
/var/imports/*
!/var/imports/.gitkeep

# Symfony 3 - web folder
/web/uploads/*

# Hidden Parameters
#/app/config/parameters.yml
#/app/config/parameters.yml.dist

# Compiled Assets
/bundles/frontend/css/compiled/*
/bundles/frontend/js/compiled/*

# Composer
/vendor/

# Build Folders
/build/*

# PHPUnit
/cache.properties

# Email spool folder
/app/spool/*

# Backup entities generated with doctrine:generate:entities command
*/Entity/*~

# IDE specific stuff
/.idea

# Build
/build/
/coverage.clover