<?xml version="1.0" encoding="UTF-8" ?>
<phpdoc>
    <title>idea-ctp-paula</title>
    <parser>
        <target>src/ServiceBundle/</target>
        <extensions>
            <extension>php</extension>
        </extensions>
    </parser>
    <transformer>
        <target>src/ServiceBundle/Resources/doc</target>
    </transformer>
    <files>
        <ignore>tests/*</ignore>
    </files>
</phpdoc>