<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Wer?</h3>
                    <p>Emtii (<3 J.)</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Wo noch?</h3>
                    <ul class="list-inline">
                        {% set socials = [
                            'fa-facebook',
                            'fa-google-plus',
                            'fa-twitter',
                            'fa-linkedin',
                            'fa-dribbble'
                        ] %}
                        {% for social in socials %}
                            <li>
                                <a class="btn-social btn-outline" href="#">
                                    <i class="fa fa-fw {{ social }}"></i>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Über Paula</h3>
                    <p>Paula ist zum Zeitpunkt dieser Entwicklung etwa 2 cm groß.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Kinderwagen-Berater Paula 2016
                </div>
            </div>
        </div>
    </div>
</footer>